---
apiVersion: install.istio.io/v1alpha1
kind: IstioOperator
metadata:
  namespace: istio-system
  name: istiocontrolplane
spec:
  profile: default
  hub: gcr.io/istio-release
  meshConfig:
    enableTracing: true
    accessLogFile: /dev/stdout
    accessLogEncoding: JSON
    defaultConfig:
      proxyMetadata:
        # (Experimental) Enable Istio agent to handle DNS requests for known hosts
        # Unknown hosts will automatically be resolved using upstream dns servers in resolv.conf
        ISTIO_META_DNS_CAPTURE: "true"
        # (Experimental) Enable dynamic bootstrap generation.
        BOOTSTRAP_XDS_AGENT: "true"
  components:
    pilot:
      k8s:
        resources:
          requests:
            cpu: 500m
        hpaSpec:
          minReplicas: {{ 2 if options.gke_mode|default(false) else 1 }}
          maxReplicas: {{ 2 if options.gke_mode|default(false) else 1 }}
        replicaCount: {{ 2 if options.gke_mode|default(false) else 1 }}
        env:
          # https://istio.io/latest/docs/reference/commands/pilot-agent/#envvars
          # Sets the mesh-wide trace sampling percentage. Should be 0.0 - 100.0. Precision to 0.01. Default is 1.0.
          - name: PILOT_TRACE_SAMPLING
            value: "100"
          # Anthos Service Mesh addon
          - name: ENABLE_STACKDRIVER_MONITORING
            value: "{{ options.gke_mode|default(false) }}"
    cni:
      enabled: {{ options.gke_mode|default(cni.enable|default(true))  }}
      namespace: {{ "kube-system" if options.gke_mode|default(false) else "istio-system" }}
    ingressGateways:
    - name: istio-ingressgateway
      namespace: istio-system
      enabled: true
      k8s:
        hpaSpec:
          minReplicas: 1
          maxReplicas: 5
{% if ingress_gateway.enable_node_selector|default(false) %}
        nodeSelector:
          node-role: "internal-ingress"
        tolerations:
        - key: "ingress-type"
          value: "internal"
          operator: "Equal"
          effect: "NoSchedule"
{% endif %}
    - name: istio-external-ingressgateway
      namespace: istio-system
      enabled: {{ ingress_external_gateway.enable|default(false) }}
      # namespace: custom-ns
      label:
        istio: external-ingressgateway
      k8s:
        env:
        - name: ISTIO_META_ROUTER_MODE
          value: standard
        hpaSpec:
          minReplicas: 1
          maxReplicas: 5
          scaleTargetRef:
            apiVersion: apps/v1
            kind: Deployment
            name: istio-external-ingressgateway
        resources:
          limits:
            cpu: 2000m
            memory: 1024Mi
          requests:
            cpu: 100m
            memory: 128Mi
        service:
          type: {{ ingress_external_gateway.service_type|default("LoadBalancer") }}
          ports:
          - name: status-port
            port: 15021
            protocol: TCP
            targetPort: 15021
          - name: http2
            port: 80
            protocol: TCP
            targetPort: 8080
          - name: https
            port: 443
            protocol: TCP
            targetPort: 8443
          - name: tls
            port: 15443
            protocol: TCP
            targetPort: 15443
{% if ingress_external_gateway.serviceAnnotations|default(false) %}
        serviceAnnotations: {{ ingress_external_gateway.serviceAnnotations | to_yaml }}
{% endif %}
        strategy:
          rollingUpdate:
            maxSurge: 100%
            maxUnavailable: 25%
{% if ingress_external_gateway.enable_node_selector|default(false) %}
        nodeSelector:
          node-role: "external-ingress"
        tolerations:
        - key: "ingress-type"
          value: "external"
          operator: "Equal"
          effect: "NoSchedule"
{% endif %}
    egressGateways:
    - name: istio-egressgateway
      enabled: {{ egress_gateway.enable|default(false) }}
      #k8s:
      #  nodeSelector:
      #    node-role: "egress"
      #  tolerations:
      #  - key: "egress"
      #    operator: "Exists"
      #    effect: "NoSchedule"
  values:
    # enabled optional: https://istio.io/latest/docs/reference/config/config-status/
    pilot:
      keepaliveMaxServerConnectionAge: 30m
      # full list of envs https://github.com/istio/istio/blob/master/pilot/pkg/features/pilot.go
      env:
        PILOT_ENABLE_STATUS: true
    global:
      istiod:
        enableAnalysis: true
      logging:
        level: "default:info"
      logAsJson: true
{% if options.gke_mode|default(false)  %}
    # TODO fix stackdriver metrics: https://github.com/istio/istio/issues/22658
    telemetry:
      enabled: true
      v2:
        stackdriver:
          enabled: true
          inboundAccessLogging: FULL
          outboundAccessLogging: FULL
          logging: true
          monitoring: true
          topology: true
{% endif %}
    cni:
{% if options.gke_mode|default(false)  %}
      cniBinDir: /home/kubernetes/bin
{% endif %}
      excludeNamespaces:
       - istio-system
       - kube-system
      logLevel: info
    gateways:
      istio-ingressgateway:
        injectionTemplate: gateway
        type: {{ ingress_gateway.service_type|default("LoadBalancer") }}
        autoscaleMax: "{{ ingress_gateway.max_pods|default(5)}}"
{% if ingress_gateway.serviceAnnotations|default(false) %}
        serviceAnnotations: {{ ingress_gateway.serviceAnnotations | to_yaml }}
{% endif %}
