---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ namespace }}"
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: ci
  namespace: "{{ namespace }}"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ci
  namespace: "{{ namespace }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin
subjects:
- kind: ServiceAccount
  name: ci
  namespace: "{{ namespace }}"
- kind: ServiceAccount
  name: "{{ namespace }}-jenkins"
  namespace: "{{ namespace }}"  
