# /etc/systemd/system/minecraft.service
[Unit]
Description=Minecraft Server
After=network.target

[Service]
User=minecraft
Nice=1
KillMode=none
SuccessExitStatus=0 1
#ProtectHome=true
#ProtectSystem=full
#PrivateDevices=true
#NoNewPrivileges=true
WorkingDirectory=/home/minecraft/server
ExecStart=/home/minecraft/server/start-minecraft.sh foreground
ExecStop=/home/minecraft/server/stop-minecraft.sh $MAINPID

[Install]
WantedBy=multi-user.target
