# yamllint disable-file
{{- $fullName := include "app.fullname" . -}}
{{- if .Values.ingress.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $fullName }}
  namespace: {{ include "app.namespace" . }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
data:
  tls.crt: {{ .Values.ingress.tls.crt }}
  tls.key: {{ .Values.ingress.tls.key }}
type: kubernetes.io/tls
---
apiVersion: networking.k8s.io/{{ .Values.ingress.version }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  namespace: {{ include "app.namespace" . }}
  labels:
    {{- include "app.labels" . | nindent 4 }}
  annotations:
    {{- if .Values.ingress.class }}
    kubernetes.io/ingress.class: {{ .Values.ingress.class }}
    {{- end }}
    {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  tls:
  - hosts:
    - {{ .Values.ingress.host }}
    secretName: {{ $fullName }}
  rules:
  - host: {{ .Values.ingress.host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          {{- if eq .Values.ingress.version "v1" }}
          service:
            name: {{ $fullName }}
            port:
              number: 80
          {{- else }}
          serviceName: {{ $fullName }}
          servicePort: 80
          {{- end }}
{{- end }}
