all:
  children:
    local:
      hosts:
        localhost:
      vars:
        files: "{{ playbook_dir }}/files"
        namespace: ci
        chart_version: "3.3.22"
        jenkins_service_type: ClusterIP
        use_prebuild_jenkins_image: true
        ingress_version: v1
