# /etc/systemd/system/minecraft.service
[Unit]
Description=Minecraft Server
After=network.target

[Service]
User=minecraft
Nice=1
KillMode=none
SuccessExitStatus=0 1
#ProtectHome=true
#ProtectSystem=full
#PrivateDevices=true
#NoNewPrivileges=true
WorkingDirectory=/home/minecraft/server
ExecStart=/usr/bin/java -Xms4096M -Xmx7512M -jar server.jar nogui
# TODO add backuping before shutdown
#ExecStop=/usr/bin/mcrcon -H 127.0.0.1 -P 25575 -p MINECRAFT_PASS stop
ExecStop=/bin/kill -SIGTERM $MAINPID


[Install]
WantedBy=multi-user.target
