# /etc/systemd/system/minecraft-backup.timer
[Unit]
Description=Minecraft Server Backup Runner Timer

# hourly with 5 min randomization
[Timer]
OnCalendar=*-*-* 0/1:00:00
RandomizedDelaySec=5m

[Install]
WantedBy=timers.target
