[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-setup = "*"
pylint = "*"
pytest = "*"
exchange-rate = {editable = true,path = "."}

[packages]
requests = "*"

[requires]
python_version = "3.8"
